<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <h3><b>{{__ 'Pages'}}</b></h3>
            <a href="/admin/pages/new" class="btn btn-default">{{__ 'Create new page'}}</a>
            <table class="table table-hover">
                <tbody>
                <thead>
                <tr>
                    <th>{{__ 'Page name'}} ({{__ 'Total'}} {{mainContext.pages.length}})</th>
                    <th>{{__ 'Url'}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each mainContext.pages}}
                    <tr>
                        <td><a href="{{#if editable}}/admin/pages{{link}}{{else}}#{{/if}}">{{name}}</a></td>
                        <td><a href="{{link}}">{{link}}</a></td>
                        <td class="menu-actions col-md-1">
                            {{#if editable}}<a href="/admin/pages{{link}}" class="btn btn-info btn-md"><i class="fa fa-pencil" aria-hidden="true"></i></a>{{/if}}<a href="{{link}}" class="btn btn-success btn-md"><i class="fa fa-eye" aria-hidden="true"></i></a>{{#if editable}}<a href="#" data-url="{{name}}" data-action="delete" class="btn btn-danger btn-md"><i class="fa fa-trash-o" aria-hidden="true"></i></a>{{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

